.margin-bottom--8 {
  margin-bottom: 8px;
}

.margin-bottom--16 {
  margin-bottom: 16px;
}
.font-size--40 {
  font-size: 40px;
}
.font-size--50 {
  font-size: 50px;
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
