@import '../../styles/index.scss';

.card {
    border-radius: 12px;
    padding: 10px;
    background-color: $success;
    box-shadow: 8px 9px 19px 0px $primary;
    height: 100%;
  }
  .card--result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
  }
  .card__footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 64px;
  }